* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#body-wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100px;
}
#main {
    display: flex;
    flex-wrap: wrap;
}

#content {
    height: 500px;
    display: flex;
    flex: 10 1 700px;
}

#aside {
    height: 500px;
    display: flex;
    flex: 1 1 200px;
}
#footer {
    width: 100%;
    height: 100px;
}