* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body-wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    /* grid */
    display: grid;
    grid-template-areas:
    "header header"
    "main aside-1"
    "main aside-2"
    "footer footer";
    grid-template-rows: 200px 1fr 2fr 200px;
    grid-template-columns: 68% 1fr;
    /* grid-gap: 2px; */
    height: 200vh;
    font-size: 50px;
}

.page-header {
    grid-area: header;

    /* ///// */
    padding: 10px;
    background-color: darkgray;
    border: 3px dashed black;
}

.page-main {
    grid-area: main;

    /* ///// */
    padding: 10px;
    background-color: darkgray;
    border: 3px dashed black;
}

.page-aside-1 {
    grid-area: aside-1;

    /* ///// */
    padding: 10px;
    background-color: darkgray;
    border: 3px dashed black;
}

.page-aside-2 {
    grid-area: aside-2;

    /* ///// */
    padding: 10px;
    background-color: darkgray;
    border: 3px dashed black;
}

.page-footer {
    grid-area: footer;

    /* ///// */
    padding: 10px;
    background-color: darkgray;
    border: 3px dashed black;
}

@media (max-width: 900px) {
    .body-wrapper {
    grid-template-areas:
    "header"
    "aside-1"
    "main"
    "aside-2"
    "footer";
    grid-template-rows: 200px 150px 1fr 150px 200px;
    grid-template-columns: 100%;
    }
}