* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body-wrapper {
    width: 90%;
    margin: 20px auto;
    max-width: 1200px;
    /* grid */
    display: grid;
    grid-template-areas: "header header" "main aside-1" "main aside-2" "footer footer";
    grid-template-rows: auto 277px auto auto;
    /* ровняльщик для первого асайда */
    grid-template-columns: 68% 1fr;
    box-shadow: 0px 0px 10px 10px rgb(61, 61, 61);
    /* background-color: rgb(218, 221, 203); */
    /* height: 100vh; */
}

.page-header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* ///// */
    padding: 10px 10px 20px 10px;
    /* background-color: darkgray; */
    /* border: 3px dashed black; */
}

.page-main {
    grid-area: main;
    /* ///// */
    /* padding: 10px;
    background-color: darkgray;
    border: 3px dashed black; */
}

.page-aside-1 {
    grid-area: aside-1;
    /* ///// */
    padding: 10px;
    /* background-color: darkgray; */
    /* border: 3px dashed black; */
}

.page-aside-2 {
    grid-area: aside-2;
    /* ///// */
    padding: 10px;
    /* background-color: darkgray; */
    /* border: 3px dashed black; */
}

.page-footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* ///// */
    padding: 10px;
    /* background-color: darkgray; */
    /* border: 3px dashed black; */
}

.header-right {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* border: 1px solid red; */
}

.header-logo-name {
    display: flex;
    align-items: center;
}

.header-main-menu {
    display: flex;
    justify-content: space-around;
}

.header-social {
    display: flex;
    justify-content: space-around;
}

.main-content {
    display: flex;
    /* justify-content: stretch; */
    flex-wrap: wrap;
}

.card-img, .aside-about-image {
    width: 100%;
}

.aside-about-image {
    border-radius: 50%;
}

.image-container {
    width: 100%;
}

.aside-image-container {
    width: 36%;
    margin-bottom: 10px;
}

.main-card {
    padding: 7px;
    width: 50%;
}

.card-border {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 420px;
}

.main-social {
    display: flex;
    justify-content: space-between;
}

.aside-about-container {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    align-items: center;
    /* border: 2px solid black; */
    /* text-align: center; */
}

.aside-about-description {
    text-align: justify;
}

.section-name {
    text-align: center;
}

.aside-social-icons {
    display: flex;
    justify-content: space-around;
}

.aside-subscribe, 
.aside-search, 
.aside-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aside-tags-container .link-tag {
    text-decoration: none;
    padding: 5px;
}

.comment-image-container {
    width: 80px;
}

.comment-image {
    width: 100%;
}

.aside-comment-container {
    display: flex;
    height: 90px;
}

.comment-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}

.header-search {
    align-self: flex-end;
    margin-right: 30px;
}

@media (max-width: 900px) {
    .body-wrapper {
        margin: 0;
        width: 100%;
        grid-template-areas: "header" "aside-1" "main" "aside-2" "footer";
        /* grid-template-rows: 200px 150px 1fr 150px 200px; */
        grid-template-columns: 100%;
    }
    .header-logo-name, .header-main-menu, {
        display: none;
    }
    .page-header {
        justify-content: flex-end;
    }
    #hamburger-menu {
        display: block;
    }
    .aside-image-container {
        width: 100px;
    }
}

@media (max-width: 650px) {
    .main-card {
        width: 100%;
        min-width: 250px;
    }
}