.page-header {
    border: 3px solid rgb(3, 124, 155);
    background: url('../images/header-background.jpg') no-repeat top left;
}

.header-logo {
    width: 150px;
    height: 150px;
    background: url('../images/logo.png') no-repeat center center;
    background-size: cover;
}

.header-name {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.header-main-menu {
    /* border: 1px solid red; */
}

.header-main-menu .menu-item {
    display: inline-block;
    font-weight: bold;
    padding: 15px 15px;
    font-size: 16px;
    background-color: rgb(64, 64, 138);
    text-decoration: none;
    border-radius: 25px 25px;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
}
